/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Link styles */
a {
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    color: #6F86FF;
}

/* Basic styling for the entire page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    text-align: center;
}

.logo {
    height: 80px;
}

/* Hamburger menu styles */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 1000; /* Ensure higher z-index than other content in header */
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: #6F86FF;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

/* Off-screen menu styles */
.off-screen-menu {
    background-color: rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 150px;
    position: fixed;
    top: 0;
    right: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: white; /* Set text color to white */
    transition: .3s ease;
    z-index: 1050; /* Ensure higher than other content */
}

.off-screen-menu.active {
    right: 0;
}

/* Specific styles for anchor tags in off-screen menu */
.off-screen-menu a {
    color: white; /* Ensure all text is white */
}

.off-screen-menu a:visited {
    color: white; /* Ensure visited links are white */
}

.off-screen-menu a:hover {
    color: #6F86FF; /* Optional: Change color on hover */
}

/* Close button styles */
.close-menu-btn {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

.close-menu-btn:focus {
    outline: none;
}

/* Hero section styles */
#hero {
    background-image: url('/images/floor60x60.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#hero h2,
#hero p {
    position: relative;
    z-index: 2;
}

/* Services section styles */
#services {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

#services ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#services li {
    text-align: center;
    flex: 1 0 auto;
    margin: 0 10px;
}

#services img {
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#services span {
    display: block;
    margin-top: 10px;
}

@media (max-width: 768px) {
    #services {
        flex-wrap: wrap;
    }

    #services li {
        flex: 1 0 50%;
        margin: 10px 0;
    }
}

/* About section styles */
#about {
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 40px 20px;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-content .thumbnail {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about-content .text-content {
    max-width: 100%;
    text-align: left;
}

/* Contact section styles */
#contact {
    background-color: #fff;
    padding: 40px 20px;
    margin-top: 20px;
    border-radius: 5px;
}

#contact h2 {
    margin-bottom: 10px;
}

#contact p {
    margin-bottom: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
